footer.footer
    .container
        nav.footer__navs.component-navs
            a(href="#").current Типовые проекты
            a(href="#") Построенные дома
            a(href="#") Технология Эко-Сити
            a(href="#") Индивидуальное проектирование
            a(href="#") Отзывы
            a(href="#") О нас
            a(href="#") Контакты
        .footer__wrapper
            .footer__section
                .component-logotype
                    a(href="/")
                        +icon('logo')
                .footer__reference
                    p.footer__ltd ООО «Эко-Сити-Инвест»
                    .footer__unification
                        div
                            p ИНН: 7811410226
                            p КПП: 781001001
                        div
                            p ОКПО: 87313532
                            p ОГРН: 1089847251460
                    a(href="#").footer__policy Политика конфиденциальности
            .footer__section
                .component-info
                    .component-info__block
                        .component-info__links
                            .component-info__item
                                +icon('place')
                                a(href="#").component-info__link г. Санкт-Петербург ул. Киевская, 14
                            .component-info__item
                                +icon('mail')
                                a(href="mailto:info@eco-city.spb.ru").component-info__link info@eco-city.spb.ru
                        .component-info__phone.component-info__item
                            +icon('phone')
                            span
                                a(href="tel:+78129506050").component-info__link +7 (812) 950-60-50
                                a(href="#").component-info__order Заказать звонок
                .footer__bottom
                    .footer-socials
                        a(href="#").footer-socials__item.footer-socials__item--vk
                            +icon('vk-symbol')
                        a(href="#").footer-socials__item.footer-socials__item--youtube
                            +icon('youtube-symbol')
                        a(href="#").footer-socials__item.footer-socials__item--instagram
                            +icon('instagram-symbol')
                    p.footer__copyright 2021. EcoCity Company
