include ../components/mixins/icon
header.header
    .container
        .header__wrapper
            .header__logo
                a(href="/")
                    +icon('logo')
            .header__block
                .header__info
                    .header__email
                        +icon('mail')
                        a(href="mailto:info@eco-city.spb.ru").header__link info@eco-city.spb.ru
                    .header__phone
                        +icon('phone')
                        span
                            a(href="tel:+78129506050").header__link +7 (812) 950-60-50
                            a(href="#").header__order Заказать звонок
        nav.header__navs
            a(href="#").current Типовые проекты
            a(href="#") Построенные дома
            a(href="#") Технология Эко-Сити
            a(href="#") Индивидуальное проектирование
            a(href="#") Отзывы
            a(href="#") О нас
            a(href="#") Контакты