.page-sample-projects {
  &__blocks {
    margin-top: 51px;
  }

  &__section {
    background: #F8F8F8;
    padding-top: 51px + 184px;
  }

  &__stanndart-projects {
    padding-bottom: 52px;
  }

  &__choose-house {
    margin-top: 70px;
    margin-bottom: 60px;
  }
}