extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'page-about-us'
    - headTitle = 'О нас'
block content
    .page-content
        .page-about-us__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") О нас