extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'page-built-houses'
    - headTitle = 'Построенные дома'
block content
    .page-content
        .page-built-houses__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Построенные дома
        .page-built-houses__blocks
            .page-built-houses__map
                .block-map
                    .container
                        h2.block-map__title.title.title--gradient Построенные дома
                    .block-map__container.container
                        img(src=require('../../public/images/map.jpg')).block-map__map
            .page-built-houses__catalog
                .container
                    .catalog.catalog--type2
                        aside.catalog-aside#catalog-aside
                            .catalog-aside__wrapper
                                .catalog-aside__caption Фильтр
                                    button.catalog-aside__close
                                        +icon('menu-close')
                                form.catalog-aside__items
                                    .catalog-aside__item
                                        p.catalog-aside__title Место
                                        .catalog-aside__select
                                            .select(data-state="")
                                                .select__title(data-default="г. Москва") г. Москва
                                                .select__content
                                                    input(id="select-place1" type="radio" name="place").select__input
                                                    label(for="select-place1").select__label г. Москва
                                                    input(id="select-place2" type="radio" name="place" checked).select__input
                                                    label(for="select-place2").select__label г. Москва

                                    include ../components/filter/price
                                    .catalog-aside__item
                                        p.catalog-aside__title Площадь
                                        .catalog-aside__checkboxes
                                            label.checkbox
                                                input(type="checkbox" name="floor" value="100" checked)
                                                span.checkbox__box
                                                    +icon('checkmark')
                                                span.checkbox__value До 100
                                            label.checkbox
                                                input(type="checkbox" name="floor" value="300")
                                                span.checkbox__box
                                                    +icon('checkmark')
                                                span.checkbox__value До 300
                                            label.checkbox
                                                input(type="checkbox" name="floor" value="200")
                                                span.checkbox__box
                                                    +icon('checkmark')
                                                span.checkbox__value До 200
                                            label.checkbox
                                                input(type="checkbox" name="floor" value="400")
                                                span.checkbox__box
                                                    +icon('checkmark')
                                                span.checkbox__value До 400
                        main.catalog-main
                            .catalog-buttons.catalog-buttons--single
                                button(data-id="#catalog-aside").catalog-buttons__btn Фильтр
                                    +icon('filter')
                            .catalog-main__wrapper
                                .catalog-main__projects.block-projects__items
                                    +loop(12)
                                        article.component-slide
                                            a(href="#").component-slide__link
                                            .component-slide__image
                                                img(src=require('../../public/images/block-built__slide.jpg'))
                                            h3.component-slide__title Осиновая роща
                            include ../components/pagination
            .page-built-houses__order-house
                .container
                    .block-order-house
                        a(href="#").block-order-house__link
                        h2.block-order-house__title.title.title--gradient Как заказать дом








