extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'page-contacts'
    - headTitle = 'Контакты'
block content
    .page-content
        .page-contacts
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Контакты