extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'contacts'
    - headTitle = 'Контакты'
block content
    .page-content
        .contacts__breadcrumbs
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Контакты
        .contacts__info
            .container
                .bootstrap-wrapper
                    .row
                        .col-md-6
                            h1.contacts__title.title.title--gradient контакты
                            .contacts__row.row
                                .col-md-6
                                    .contacts__items
                                        .contacts__item
                                            +icon('place')
                                            p г. Санкт-Петербург ул. Киевская, 14
                                        .contacts__item-group
                                            .contacts__item
                                                +icon('phone')
                                                a(href="tel:+78129506050") +7 (812) 950-60-50
                                            .contacts__item
                                                +icon('phone')
                                                a(href="tel:+79111774778") +7 (911) 177-47-78
                                                    span (Отдел снабжения)
                                        .contacts__item
                                            +icon('mail')
                                            a(href="mailto:info@eco-city.spb.ru") info@eco-city.spb.ru
                                .col-md-6
                                    .contacts__item
                                        +icon('time')
                                        p Офис работает:
                                    .contacts__item
                                        p.contacts__caption Пн - Пт
                                        p 10:00 - 21:00
                                    .contacts__item
                                        p.contacts__caption Сб
                                        p 10:00 - 16:00
                                .col-md-12
                                    h3.contacts__subtitle ООО «Эко-Сити-Инвест»
                                    .contacts__items2
                                        p ИНН: 7811410226
                                        p ОКПО: 87313532
                                        p КПП: 781001001
                                        p ОГРН: 1089847251460
                        .contacts__text-block.col-md-4
                            h2.contacts__title.title.title--gradient Компания эко-сити
                            p.contacts__text Специализируется на проектировании и строительстве малоэтажных зданий, а также занимается производством сэндвич-панелей, и успешно работает на рынке загородной недвижимости с февраля 2007 года.
                            p.contacts__text Используя популярную на западе и проверенную в течение десятилетий технологию SIP, мы накопили большой опыт в возведении домов, коттеджей, общественных и производственных зданий.

                    .contacts__map.block-map
                        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad1c738ed80c66993242ac691cccedc967b111aba3ddba2cb6068bbf2551375ac&amp;source=constructor" width="100%" frameborder="0")
        .contacts-sertificate
            .container
                .contacts-sertificate__wrapper
                    h2.contacts-sertificate__title.title.title--gradient Сертификаты
                    .contacts-sertificate__items
                        +loop(6)
                            .swiper-slide.contacts-sertificate__item
                                a(href=require('../../public/images/certificate.jpg')).contacts-sertificate__link.js-modal-image
                                    +icon('search')
                                img(src=require('../../public/images/certificate.jpg')).contacts-sertificate__image
        .contact-form
            .contact-form__background
                img(src=require('../../public/images/contact-form.jpg')).contact-form__image
            .contact-form__container.container-small
                .contact-form__wrapper
                    .contact-form__header.contact-form__header--effect
                        img(src=require("../../public/images/effect.png")).contact-form__effect
                        h2.contact-form__title.title.title--gradient Остались вопросы?
                        p.contact-form__text Оставьте заявку и мы свяжемся с вами в течении 5 минут
                    form.contact-form__main
                        .contact-form__main-wrapper
                            p.contact-form__caption Обратиться к нам
                            label.contact-form__label
                                input(type="text" name="username" placeholder="Имя(без фамилии)" required).contact-form__input
                            label.contact-form__label
                                input(type="email" name="usermail" placeholder="E-mail" required).contact-form__input
                            label.contact-form__label
                                input(type="text" name="userphone" placeholder="Телефон" required).contact-form__input.phone-mask
                            button(type="submit").contact-form__submit.btn.btn--primary оставить заявку



