extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'home'
    - headTitle = 'Главная'
block content
    .page-content
        .home__blocks
            .home__slider
                include ../components/banner-slider
            .home__questions
                include ../components/block-questions
            .home__projects
                include ../components/block-projects
            .home__suitable
                include ../components/block-suitable
            .home__why
                include ../components/block-why
            .home__mortgage
                include ../components/block-mortgage
            .home__advantages
                include ../components/block-advantages
            .home__built
                include ../components/block-built
            .home__construction
                include ../components/block-construction
            .home__reviews
                include ../components/block-reviews



