extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'page-home'
    - headTitle = 'Главная'
block content
    .page-home__blocks
        .page-home__slider
            include ../components/banner-slider
        .page-home__questions
            include ../components/block-questions
        .page-home__projects
            include ../components/block-projects
        .page-home__suitable
            include ../components/block-suitable
        .page-home__why
            include ../components/block-why
        .page-home__mortgage
            include ../components/block-mortgage
        .page-home__advantages
            include ../components/block-advantages
        .page-home__built
            include ../components/block-built
        .page-home__construction
            include ../components/block-construction
        .page-home__reviews
            include ../components/block-reviews



