extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'page-houses-built-project'
    - headTitle = 'Карточка товара'
block content
    .page-content
        .page-houses-built-project__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Типовые проекты
                    a(href="#") Осиновая роща
        .page-houses-built-project__block
            .container
                .houses-built-project
                    h2.houses-built-project__title.title.title--gradient Дома построеные по этому проекту
                    .houses-built-project__items
                        +loop(8)
                            .component-slide
                                a(href="#").component-slide__link
                                .component-slide__image
                                    img(src=require('../../public/images/block-built__slide.jpg'))
                                p.component-slide__title Осиновая роща

