extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'how-order'
    - headTitle = 'Как заказать дом'
block content
    .page-content
        .how-order__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Как заказать дом