extends ../layout/default

block vars
    - pageClass = 'index'
    - headTitle = 'Все страницы'
block content
    .page-content
        .container-small
            hr
            h1 Все страницы
            ul.ul
                li
                    a(href="/home.html") Главная
                li
                    a(href="/sample-projects.html") Типовые проекты
                li
                    a(href="/card-product.html") Карточка товара
                li
                    a(href="/houses-built-project.html") Дома построенные по этому проекту
                li
                    a(href="/built-houses.html") Построенные дома
                li
                    a(href="/built-card.html") Карточка построенного проекта
                li
                    a(href="/about-us.html") О нас
                li
                    a(href="/contacts.html") Контакты
                li
                    a(href="/how-order.html") how-order
                li
                    a(href="/individual-design.html") Индивидуальное проектирование
                li
                    a(href="/our-technology.html") Технология Эко-Сити
                li
                    a(href="/reviews.html") Отзывы
                li
                    a(href="/SIP-technology.html") Статья(Технология SIP)
            hr