extends ../layout/default

block vars
    - pageClass = 'index'
    - headTitle = 'Все страницы'
block content
    .page-content
        .container-small
            hr
            h1 Все страницы
            ul.ul
                li
                    a(href="/home.html") Главная
                li
                    a(href="/sample-projects.html") Типовые проекты
                li
                    a(href="/card-product.html") Карточка товара
                li
                    a(href="/houses-built-project.html") Дома построенные по этому проекту
                li
                    a(href="/built-houses.html") Построенные дома
            hr