extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'page-our-technology'
    - headTitle = 'Наша технология'
block content
    .page-content
        .page-our-technology__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Технология Эко-Сити