extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'page-sample-projects'
    - headTitle = 'Типовые проекты'
block content
    .page-content
        .page-sample-projects__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Типовые проекты
            .page-sample-projects__blocks
                .page-sample-projects__stanndart-projects
                    include ../components/block-stanndart-projects
                    block content
                        include ../components/block-are-working
                .page-sample-projects__catalog
                    .container
                        include ../components/catalog
        .page-sample-projects__choose-house
            include ../components/block-choose-house
        .page-sample-projects__you-decide
            .container-small
                .block-you-decide
                    .bootstrap-wrapper
                        .block-you-decide__row.row
                            .col-6
                                .block-you-decide__image
                                    img(src=require('../../public/images/block-you-decide.png'))
                            .col-5
                                +icon('quotes', 'block-you-decide__icon')
                                p.block-you-decide__caption Допустим вы решили:
                                h2.title.block-you-decide__title «Куплю каркасный дом!»
                                p.block-you-decide__text Следующая ваша мысль – каким он должен быть, чтобы сочетать в себе комфорт, красоту и функциональность.
                                    br
                                    | Мы понимаем, что у каждого человека свои представления о том, каким должен быть идеальный дом,
                                    br
                                    | и при этом – совершенно разные возможности.
        .page-sample-projects__several-schemes
            .container
                .several-schemes
                    .several-schemes__wrapper







