extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'sample-projects'
    - headTitle = 'Типовые проекты'
block content
    .page-content
        .sample-projects__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Типовые проекты
            .sample-projects__blocks
                .sample-projects__stanndart-projects
                    include ../components/block-stanndart-projects
                    block content
                        include ../components/block-are-working
                .sample-projects__catalog
                    .container
                        include ../components/catalog
                .sample-projects__choose-house
                    include ../components/block-choose-house
                .sample-projects__you-decide
                    .container-small
                        include ../components/block-you-decide
                .sample-projects__several-schemes
                    .container
                        include ../components/block-several-schemes
                .sample-projects__contact-form
                    include ../components/contact-form









