extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'page-sample-projects'
    - headTitle = 'Типовые проекты'
block content
    .page-content
        .page-sample-projects__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Типовые проекты
            .page-sample-projects__blocks
                .page-sample-projects__stanndart-projects
                    include ../components/block-stanndart-projects
                    block content
                        include ../components/block-are-working
                .page-sample-projects__catalog
                    .container
                        include ../components/catalog
        .page-sample-projects__choose-house
            .container
                .block-choose-house
                    .bootstrap-wrapper
                        .block-choose-house__row.row
                            .col-5
                                h2.block-choose-house__title.title Как выбрать дом
                                p.block-choose-house__subtitle Постройка любого здания начинается с проекта
                                p.block-choose-house__text Это одна из самых главных составляющих успешного и быстрого строительства.
                            .col-7
                                .block-choose-house__items
                                    +loop(2)
                                        .component-slide
                                            a(href="#").component-slide__link
                                            .component-slide__image
                                                +icon('play')
                                                img(src=require('../../public/images/block-built__slide.jpg'))
                                            p.component-slide__title Антонио Бандерас
                        .block-choose-house__blocks







