extends ../layout/default
include ../components/mixins/loop
include ../components/mixins/icon

block vars
    - pageClass = 'page-SIP-technology'
    - headTitle = 'Технология SIP'
block content
    .page-content
        .page-SIP-technology__section
            .container
                .breadcrumbs
                    a(href="#") Главная
                    a(href="#") Технология Эко-Сити
                    a(href="#") Технология SIP