.block-additional {
  background: #F8FDFF;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;

  @include media-down(sm) {
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #010101;
    margin-bottom: 30px;

    @include media-down(sm) {
      font-size: 18px;
      margin-bottom: 25px;
    }
  }

  &__wrapper {
    border: 1px solid #CCF7FF;
    border-radius: 6px;
    padding: 22px 38px 65px 27px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    @include media-down(sm) {
      flex-direction: column;
      gap: 22px;
    }
  }

  &__item {
    width: calc(50% - (32px / 2));
    display: flex;
    align-items: center;

    @include media-down(sm) {
      width: 100%;
    }
  }

  &__caption {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #838383;

    @include media-down(sm) {
      font-size: 10px;
    }
  }

  &__value {
    margin-left: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #010101;

    @include media-down(sm) {
      font-size: 14px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: #00BDE3;
    margin-right: 8px;

    @include media-down(sm) {
      width: 20px;
      height: 20px;
    }
  }
}