.block-map {
  &__title {
    margin-bottom: 40px;
  }

  &__map {
    height: 555px;
    border-radius: 18px;
    overflow: hidden;
    user-select: none;
    object-fit: cover;

    @include media-down(sm) {
      height: 290px;
      border-radius: 0;
    }
  }

  &__container {
    @include media-down(sm) {
      max-width: 100%;
      padding: 0;
    }
  }
}