.block-product-detail {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include media-down(sm) {
      flex-direction: column;
    }
  }

  &__row {
    @include media-down(sm) {
      gap: 25px 0;
    }
  }

  &__item {
    width: 50%;

    &:last-child {
      padding-right: 100px;
    }

    @include media-down(sm) {
      width: 100%;
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 54px;

    @include media-down(sm) {
      flex-direction: column;
      gap: 20px 0;
    }

    .btn--empty {
      @include media-down(sm) {
        display: none;
      }
    }

    .btn {
      width: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 140%;
    color: #010101;
    margin-bottom: 18px;

    @include media-down(sm) {
      font-size: 22px;
      margin-bottom: 8px;
    }
  }

  &__text {
    margin-bottom: 21px;
    max-width: 490px;
  }

  &__prices {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
    color: #010101;
    gap: 24px;

    @include media-down(sm) {
      gap: 12px;
      font-size: 21px;
    }

    &--big {
      font-size: 32px;

      @include media-down(sm) {
        font-size: 20px;
      }
    }
  }

  &__price {
    & > span {
      color: #00BDE3;
      font-weight: 600;
      margin-left: .2em;
    }
  }
}

.block-product-detail-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
  gap: 30px 0;

  @include media-down(sm) {
    flex-direction: column;
  }
}

.block-product-detail-item {
  width: 50%;
  display: flex;
  align-items: center;

  font-family: $font-gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @include media-down(sm) {
    width: 100%;
  }

  &__icon {
    color: #00BDE3;
    margin-right: 10px;
    width: 24px;
    height: 24px;

    .icon {
      width: inherit;
      height: inherit;
    }
  }

  &__caption {
    color: #838383;
    margin-right: 6px;
  }

  &__text {
    color: #010101;
    font-size: 18px;
  }
}

.block-product-detail-gallary {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__header {
    position: relative;
    margin-bottom: 25px;

    @include media-down(xs) {
      margin-bottom: 10px;
    }
  }

  &__image {
    position: relative;
    border-radius: 12px;
    height: 430px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 300ms;
    background: #EEEEEE;

    @include media-down(xs) {
      height: 210px;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__badge {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &__item {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    height: 90px;

    @include media-down(md) {
      height: 50px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: #EEEEEE;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(178, 213, 81, 0.8), rgba(178, 213, 81, 0.8));
      transition: 300ms;
      opacity: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}