.block-different-sizes {
  &__title {
    max-width: 490px;
    margin-bottom: 60px;

    @include media-down(sm) {
      margin-bottom: 40px;
    }
  }

  &__icon {
    background: #DDF6FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 69px;
    max-height: 69px;
    min-width: 69px;
    min-height: 69px;

    &--green {
      background: #F8FFE1;
    }

    @include media-down(sm) {
      max-width: 54px;
      max-height: 54px;
      min-width: 54px;
      min-height: 54px;
    }

    .icon {
      width: 100%;
      height: 100%;
    }

    &--42 {
      .icon {
        width: 42px;
        height: 42px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include media-down(sm) {
      margin-bottom: 15px;
    }
  }

  &__caption {
    font-weight: 500;
    font-size: 21px;
    line-height: 140%;
    color: #272727;
    max-width: 205px;
    margin-left: 14px;

    @include media-down(sm) {
      font-size: 18px;
    }
  }

  &__item {
    min-height: 240px;

    @include media-down(sm) {
      min-height: auto;
    }

    @include media-down(sm) {
      margin-bottom: 34px;
    }
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 64px;

      @include media-down(sm) {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    color: #000000;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  &__block {
    background: #FAFAFA;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 28px 35px;

    @include media-down(sm) {
      margin: 0 -35px;
      padding: 18px 35px;
    }
  }
}