.block-map {
  &__title {
    margin-bottom: 40px;
  }

  &__map {
    border-radius: 18px;
    overflow: hidden;
    user-select: none;
    object-fit: cover;

    iframe {
      height: 555px!important;
    }

    @include media-down(sm) {
      iframe {
        height: 290px !important;
      }
      border-radius: 0;
    }
  }

  &__container {
    @include media-down(sm) {
      max-width: 100%;
      padding: 0;
    }
  }
}