.block-choose-house {
  &__items {
    display: flex;
    gap: 35px;

    @include media-down(sm) {
      flex-direction: column;
    }
  }

  &__row {
    align-items: center;
    margin-bottom: 72px;
  }

  &__title {
    margin-bottom: 8px;
    max-width: 360px;
  }

  &__subtitle {
    margin-bottom: 22px;
    max-width: 360px;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;

    @include media-down(sm) {
      font-size: 16px;
      max-width: 263px;
    }
  }

  &__text {
    position: relative;
    max-width: 386px;
    padding-left: 32px;

    @include media-down(sm) {
      max-width: 260px;
      margin-bottom: 30px;
    }

    &:before {
      content: '';
      width: 24px;
      height: 4px;
      background: #C4EF4C;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: .6em;
    }
  }
}

.block-choose-house-blocks {
  background: #FBFFEF;
  border-radius: 16px;
  padding: 8px;

  @include media-down(sm) {
    margin: 0 -46px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 10px;

    @include media-down(sm) {
      font-size: 14px;
    }
  }

  &__wrapper {
    border: 1px solid #E5F5B6;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;

    @include media-down(sm) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    padding: 88px 120px 30px 80px;

    @include media-down(sm) {
      padding: 52px 110px 62px 47px;
    }

    &:not(:last-child) {
      border-right: 1px solid #E5F5B6;

      @include media-down(sm) {
        border-right: none;
        border-bottom: 1px solid #E5F5B6;
      }
    }

    &:first-child {
      padding-left: 60px;
      padding-right: 162px;
    }

    &:last-child {
      padding-right: 108px;
    }
  }

  &__icon {
    background: #FBFFEF;
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    left: 70px;
    z-index: 1;

    @include media-down(sm) {
      width: 64px + 15px;
    }

    .icon {
      margin-top: -30px;
      width: 88px;
      height: 88px;

      @include media-down(sm) {
        width: 64px;
        height: 64px;
      }
    }
  }
}