.block-are-working {



  &__wrapper {
    display: flex;
    background: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;

    @include media-down(sm) {
      flex-direction: column;
      margin: 0 -53px;
    }
  }

  &__title {
    position: relative;
    z-index: 1;

    .icon {
      position: absolute;
      right: -40px;
      color: #B2D551;
      width: 81px;
      top: -7px;
    }
  }

  &__content {
    display: flex;
    border: 1px solid #EEEEEE;
    border-radius: 0 8px 8px 0;

    @include media-down(sm) {
      flex-direction: column;
    }
  }

  &__number {
    font-family: $font-bebas;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 140%;
    color: #E5F5B6;
    margin-bottom: 26px;

    @include media-down(sm) {
      font-size: 36px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-bottom: 4px;

     & > span {
       color: #B2D551;
     }
  }

  &__text {
    font-size: 14px;
    line-height: 140%;
    color: #000000;
  }

  &__link {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 135%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #5D7E00;

    .icon {
      margin-left: 13px;
      width: 24px;
      height: 24px;
      color: inherit;

      @include media-down(sm) {
        margin-left: 5px;
      }
    }
  }

  &__item {
    width: 100%;
    padding: 21px 23px 21px 30px;

    &:not(:last-child) {
      border-right: 1px solid #EEEEEE;
    }

    @include media-down(sm) {
      padding: 21px 84px 21px 84px;
    }
  }

  &__section {
    position: relative;

    &:first-child {
      min-width: 470px;
      display: flex;
      align-items: center;
      padding: 0 0 0 55px;

      @include media-down(sm) {
        min-width: auto;
        height: 156px;

        .icon {
          display: none;
        }
      }
    }

    &:last-child {
      padding: 8px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
  }
}