.block-advantages {
  position: relative;
  padding-top: 265px;
  padding-bottom: 150px;

  @media (max-width: 768px) {
    padding-top: 165px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: top center;
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;

    @include media-down(sm) {
      margin: 0 auto 5px;
      max-width: 278px;
    }
  }

  &__text {
    text-align: center;
    max-width: 753px;
    margin: 0 auto 58px auto;

    @include media-down(sm) {
      margin: 0 auto 98px auto;
      max-width: 320px;

      br {
        display: none;
      }
    }
  }

  &__center {
    position: relative;
    margin: 0 auto;
    display: table;
    left: 50px;

    @include media-down(sm) {
      left: 0;
    }
  }

  &__image {
    user-select: none;
    pointer-events: none;
    width: 601px;
    height: 505px;

    @include media-down(sm) {
      width: 203px;
      height: 171px;
    }
  }

  &__items, &__blocks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__blocks {
    pointer-events: none;
    z-index: 1;
  }
}


.block-advantages-block {
  position: absolute;
  width: 276px;
  opacity: 0;
  visibility: hidden;
  transition: 300ms;

  @media (max-width: 768px) {
    width: 200px;
  }

  @media (max-width: 1600px) {
    left: -460px;
    background: #FFFFFF;
    box-shadow: 0 1px 15px rgba(92, 92, 92, 0.05);
    border-radius: 10px;
    padding: 12px 29px;
  }

  //@include media-down(sm) {
  //  display: none;
  //}

  &.is-hover {
    opacity: 1;
    visibility: visible;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 20px;
    position: relative;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    &:before {
      content: '';
      position: absolute;
      display: table;
      width: 23px;
      height: 1px;
      background: #B2D551;
      left: 100%;
      top: 13px;

      @media (max-width: 1600px) {
        content: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      display: table;
      width: 100px;
      height: 1px;
      background: #B2D551;
      left: calc(100% + 8px);
      top: 48px;
      transform: rotate(45deg);

      @media (max-width: 1600px) {
        content: none;
      }
    }
  }

  &__list {
    font-size: 16px;
    line-height: 140%;
    color: #818181;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &:nth-child(1) {
    top: -180px;
    left: -390px;

    @media (max-width: 1600px) {
      top: -140px;
      left: -240px;
    }

    @media (max-width: 1300px) {
      left: -100px;
    }

    @media (max-width: 768px) {
      top: -40px;
      left: -40px;
    }
  }

  &:nth-child(2) {
    top: 20px;
    left: -520px;

    @media (max-width: 1800px) {
      left: -460px;
    }

    @media (max-width: 1600px) {
      top: 20px;
      left: -360px;
    }

    @media (max-width: 1300px) {
      left: -180px;
    }

    @media (max-width: 768px) {
      top: -40px;
      left: -40px;
    }
  }

  &:nth-child(3) {
    top: 180px;
    left: -520px;

    @media (max-width: 1800px) {
      left: -460px;
    }

    @media (max-width: 1600px) {
      top: 180px;
      left: -360px;
    }

    @media (max-width: 1300px) {
      left: -180px;
    }

    @media (max-width: 768px) {
      top: -40px;
      left: -40px;
    }
  }

  &:nth-child(4) {
    top: 380px;
    left: -420px;

    @media (max-width: 1600px) {
      top: 350px;
      left: -240px;
    }

    @media (max-width: 1300px) {
      left: -100px;
    }

    @media (max-width: 768px) {
      top: -40px;
      left: -40px;
    }
  }

  &:nth-child(5) {
    top: -180px;
    right: -390px;

    .block-advantages-block__title {
      &:before {
        left: -40px;
        top: 13px;
      }

      &:after {
        left: -126px;
        top: 48px;
        transform: rotate(-45deg);
      }
    }

    @media (max-width: 1600px) {
      top: -140px;
      left: calc(100% - 80px);
    }

    @media (max-width: 1300px) {
      left: calc(100% - 220px);
    }

    @media (max-width: 768px) {
      top: -40px;
      left: 40px;
    }
  }

  &:nth-child(6) {
    top: 20px;
    right: -520px;

    .block-advantages-block__title {
      &:before {
        left: -40px;
        top: 13px;
      }

      &:after {
        left: -126px;
        top: 48px;
        transform: rotate(-45deg);
      }
    }

    @media (max-width: 1800px) {
      right: -460px;
    }

    @media (max-width: 1600px) {
      top: 20px;
      left: calc(100% + 20px);
    }

    @media (max-width: 1300px) {
      left: calc(100% - 120px);
    }

    @media (max-width: 768px) {
      top: -40px;
      left: 40px;
    }
  }

  &:nth-child(7) {
    top: 180px;
    right: -520px;

    .block-advantages-block__title {
      &:before {
        left: -40px;
        top: 13px;
      }

      &:after {
        left: -126px;
        top: 48px;
        transform: rotate(-45deg);
      }
    }

    @media (max-width: 1800px) {
      right: -460px;
    }

    @media (max-width: 1600px) {
      top: 180px;
      left: calc(100% + 20px);
    }

    @media (max-width: 1300px) {
      left: calc(100% - 120px);
    }

    @media (max-width: 768px) {
      top: -40px;
      left: 40px;
    }
  }

  &:nth-child(8) {
    top: 380px;
    right: -420px;

    .block-advantages-block__title {
      &:before {
        left: -40px;
        top: 13px;
      }

      &:after {
        left: -126px;
        top: 48px;
        transform: rotate(-45deg);
      }
    }

    @media (max-width: 1600px) {
      top: 360px;
      left: calc(100% - 120px);
    }

    @media (max-width: 1300px) {
      left: calc(100% - 220px);
    }

    @media (max-width: 768px) {
      top: -40px;
      left: 40px;
    }
  }
}

.block-advantages-item {
  position: absolute;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  background: #B2D551;
  padding: 8px;

  transition: 300ms;

  &:hover {
    transform: scale(1.1);

    .block-advantages-item__text {
      opacity: 0;
    }
  }

  a {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  @include media-down(sm) {
    width: 68px;
    height: 68px;
    padding: 4px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 18px);
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    white-space: nowrap;
    opacity: 1;
    transition: 300ms;

    @include media-down(sm) {
      font-size: 10px;
      top: calc(100% + 5px);
      transform: translateX(-50%);
      left: 50%;
    }
  }

  &__title {
    max-width: 125px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

    @include media-down(sm) {
      font-size: 10px;
      max-width: 80px;
    }
  }

  &:nth-child(1) {
    width: 184px;
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-down(sm) {
      width: 114px;
      height: 114px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 164px;
      height: 164px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 3px solid #FFFFFF;
      border-radius: 50%;
      z-index: 1;
      display: table;

      @include media-down(sm) {
        width: 102px;
        height: 102px;
      }
    }

    transform: translateX(-50%);
    left: calc(50% - 25px);
    bottom: calc(100% + 3px);

    @include media-down(sm) {
      bottom: auto;
      top: calc(100% - 18px);
      left: 50%;
    }
  }

  &:nth-child(2) {
    left: -6px;
    bottom: calc(100% - 63px);

    @include media-down(sm) {
      bottom: 100%;
      right: auto;
      left: 28px;
    }
  }

  &:nth-child(3) {
    right: 100%;
    top: 84px;

    @include media-down(sm) {
      top: calc(100% - 68px - 123px);
      right: calc(100% - 19px);
    }
  }

  &:nth-child(4) {
    right: 100%;
    top: 247px;

    @include media-down(sm) {
      top: calc(100% - 68px - 31px);
      right: calc(100% - 9px);
    }
  }

  &:nth-child(5) {
    left: 0;
    top: 409px;
    background: #22A7D6;

    @include media-down(sm) {
      top: calc(100% - 18px);
      left: auto;
      right: calc(100% - 22px);
    }
  }

  &:nth-child(6) {
    right: 45px;
    bottom: calc(100% - 63px);

    @include media-down(sm) {
      bottom: 100%;
      right: 28px;
    }
  }

  &:nth-child(7) {
    left: calc(100% - 51px);
    top: 84px;
    background: #22A7D6;

    @include media-down(sm) {
      top: calc(100% - 68px - 123px);
      right: auto;
      left: calc(100% - 19px);
    }
  }

  &:nth-child(8) {
    left: calc(100% - 51px);
    top: 247px;

    @include media-down(sm) {
      top: calc(100% - 68px - 31px);
      right: auto;
      left: calc(100% - 9px);
    }
  }

  &:nth-child(9) {
    right: 59px;
    top: 409px;
    background: #22A7D6;

    @include media-down(sm) {
      top: calc(100% - 18px);
      right: auto;
      left: calc(100% - 19px);
    }
  }
}