.btn {
  font-family: $font-gotham;
  padding: 0 20px;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C3B00;
  height: 80px;
  user-select: none;
  font-weight: 500;

  &--primary {
    background: linear-gradient(95.13deg, #B2D551 -5.37%, #C4EF4C 106.68%);
    box-shadow: 0 4px 15px rgba(178, 213, 81, 0.5);
    border-radius: 8px;
  }

  &--primary-outline {
    border: 1px solid #B2D551;
    filter: drop-shadow(0px 4px 15px rgba(178, 213, 81, 0.5));
    border-radius: 8px;
  }
}