.btn {
  font-family: $font-gotham;
  padding: 0 20px;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2C3B00;
  height: 80px;
  user-select: none;
  font-weight: 500;
  transition: 300ms;

  &--text-small {
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0.02em;
    text-transform: initial;
  }

  &--primary {
    background: linear-gradient(95.13deg, #B2D551 -5.37%, #C4EF4C 106.68%);
    box-shadow: 0 4px 15px rgba(178, 213, 81, 0.5);
    border-radius: 8px;
    color: #5D7E00;
  }

  &--primary-outline {
    border: 1px solid #B2D551;
    filter: drop-shadow(0px 4px 15px rgba(178, 213, 81, 0.5));
    border-radius: 8px;
    color: #5D7E00;
  }

  &--blue {
    background: linear-gradient(95.13deg, #22A7D6 -5.37%, #57C7EE 106.68%);
    box-shadow: 0 4px 15px rgba(41, 172, 218, 0.5);
    border-radius: 8px;
    color: #fff;
    height: 67px;
    padding: 24px 40px;
    display: inline-flex;
  }

  &--blue-outline {
    height: 67px;
    border: 1px solid #57C7EE;
    border-radius: 8px;
    color: #29ABD9;
  }

  &--link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    color: #83B006;
    height: auto;
    display: inline-flex;
    justify-content: flex-start;
    padding: 0;

    &:hover {
      .icon {
        transform: translateX(0.4em);
      }
    }

    .icon {
      margin-left: 25px;
      color: #83B006;
      transition: 300ms;
    }
  }
}