.catalog {
  $root: &;
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "aside header" "aside main";
  grid-gap: 30px;
  padding-bottom: 55px;

  @include media-down(sm) {
    grid-template-columns: 1fr;
    grid-template-areas: "aside" "header" "main";
  }

  &--type2 {
    grid-template-areas: "aside main" "aside main";

    @include media-down(sm) {
      grid-template-areas: "aside" "main";
    }

    #{$root}-aside {
      &__wrapper {
        background: #FBFBFB;
      }
    }

    #{$root}-main {
      &__projects {
        grid-gap: 100px 30px;

        @include media-down(sm) {
          grid-gap: 30px;
          grid-template-columns: 1fr;
        }
      }
    }
  }

  &-header {
    grid-area: header;

    @include media-down(sm) {
      position: fixed;
      overflow-y: auto;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: 300ms;

      &.open {
        height: 100%;
        visibility: visible;
        opacity: 1;
      }

      &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000000;
        opacity: 0.5;
        z-index: 0;
      }

      &__wrapper {
        position: relative;
        z-index: 1;
        max-width: 360px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 18px;
        margin: 100px auto;
        padding: 30px 0;
      }
    }
  }

  &-aside {
    grid-area: aside;

    &__caption {
      display: none;
      @include media-down(sm) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 38px;
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
      }
    }

    @include media-down(sm) {
      transition: 300ms;
      position: fixed;
      overflow-y: auto;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      opacity: 0;
      height: 0;
      visibility: hidden;

      &.open {
        height: 100%;
        visibility: visible;
        opacity: 1;
      }

      &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000000;
        opacity: 0.5;
        z-index: 0;
      }

      &__wrapper {
        position: relative;
        z-index: 1;
        max-width: 360px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 18px;
        margin: 50px auto;
        padding: 30px 0;
      }


      .btn.btn--primary-outline {
        display: none;
      }
    }

    &__wrapper {
      background: #FFFFFF;
      border-radius: 18px;
      padding: 12px 0;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &__checkboxes {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    &__item {
      padding: 38px;

      &:not(:last-child) {
        border-bottom: 1px solid #DADADA;
      }
    }

    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 17.7569px;
      line-height: 17px;
      color: #3C3C3C;
      margin-bottom: 30px;
    }

    &__btn {
      font-size: 14px;
      line-height: 135%;
      letter-spacing: 0.02em;
      color: #5D7E00;
      width: 100%;
      padding: 22px;
      height: auto;
      text-transform: none;
      margin-top: 28px;
    }
  }

  &-main {
    grid-area: main;

    &__wrapper {
      margin-bottom: 44px;
    }

    &__projects {
      grid-gap: 30px;
    }
  }
}

.catalog-buttons {
  $root: &;
  display: none;
  border: 1px solid #B2D551;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 15px rgba(178, 213, 81, 0.5));
  border-radius: 6px;
  padding: 11px 0;

  &--single {
    #{$root} {
      &__btn {
        width: 100%;

        &:first-child {
          border-right: none;
        }
      }
    }
  }

  @include media-down(sm) {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__btn {
    width: 50%;
    font-family: $font-gotham;
    font-weight: 600;
    font-size: 11px;
    line-height: 140%;
    color: #2C3C00;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    transition: 300ms;

    &:hover {
      opacity: 0.7;
    }

    &:first-child {
      border-right: 1px solid #B2D551;
    }

    .icon {
      width: 18px;
      height: 18px;
      margin-left: 8px;
    }
  }
}