.contact-form {
  $root: &;
  position: relative;

  &__map {
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }

    @include media-down(sm) {
      width: calc(100% + 60px);
      margin: 30px -30px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    padding: 42px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header {
    position: relative;
    max-width: 490px;

    &--effect {
      @include media-down(sm) {
        padding-left: 55px;
      }
    }

    &--big {
      max-width: 700px;
    }

    @include media-down(sm) {
      margin-bottom: 23px;
    }
  }

  &__effect {
    position: absolute;
    right: calc(100% - 77px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    user-select: none;

    @include media-down(sm) {
      top: 30%;
      width: 109px;
      height: 153px;
    }
  }

  &__main {
    max-width: 500px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 5px rgba(138, 138, 138, 0.15);
    border-radius: 16px;
    padding: 8px;
    margin-right: 120px;

    @include media-down(sm) {
      margin: 0 -30px;
      width: calc(100% + 60px);
    }

    &-wrapper {
      border: 1px solid #E7E7E7;
      box-sizing: border-box;
      filter: drop-shadow(0px 1px 15px rgba(138, 138, 138, 0.25));
      border-radius: 12px;
      padding: 39px 38px 56px 45px;
    }
  }

  &__caption {
    font-family: $font-gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 40px;

    @include media-down(sm) {
      font-size: 18px;
    }
  }

  &__title {
    margin-bottom: 17px;

    &--big {
      font-size: 56px;

      @include media-down(sm) {
        font-size: 20px;
      }
    }
  }

  &__text {
    font-size: 20px;
    line-height: 140%;
  }

  &__label {
    display: block;
    margin-bottom: 50px;

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 171%;
      letter-spacing: 0.019em;
      color: #A0A0A0;
      margin-bottom: 5px;
    }

    &--bg {
      margin-bottom: 20px;

      #{$root} {
        &__input, &__textarea {
          background: #F3F4F6;
          border-radius: 8px;
          border-bottom: none;
          padding: 15px;
          height: auto;
          box-shadow: none;
        }
      }
    }
  }

  &__input, &__textarea {
    height: 31px;
    background: none;
    border-bottom: 1px solid #B3B3B3;

    font-family: $font-gotham;
    font-size: 16px;
    line-height: 140%;
    transition: 300ms;

    &::placeholder {
      color: #B3B3B3;
    }

    &:focus {
      border-color: #8FB81E;
    }
  }

  &__textarea {
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }

  &__submit {
    width: 100%;
  }
}