$font-directory-gotham: "../../public/fonts/GothamPro";
$font-directory-proxima: "../../public/fonts/ProximaNova";
$font-directory-bebas: "../../public/fonts/BebasNeuePro";

// BebasNeuePro
@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: local('Bebas Neue Pro Expanded Regular'), local('BebasNeuePro-ExpandedRegular'),
  url('#{$font-directory-bebas}/BebasNeuePro-ExpandedRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: local('Bebas Neue Pro Expanded Medium'), local('BebasNeuePro-ExpandedMedium'),
  url('#{$font-directory-bebas}/BebasNeuePro-ExpandedMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: local('Bebas Neue Pro Expanded Bold'), local('BebasNeuePro-ExpandedBold'),
  url('#{$font-directory-bebas}/BebasNeuePro-ExpandedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: local('Bebas Neue Pro Expanded Light'), local('BebasNeuePro-ExpandedLight'),
  url('#{$font-directory-bebas}/BebasNeuePro-ExpandedLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Pro Expanded';
  src: local('Bebas Neue Pro Expanded Thin'), local('BebasNeuePro-ExpandedThin'),
  url('#{$font-directory-bebas}/BebasNeuePro-ExpandedThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'Bebas Neue Pro Expanded XBold';
  src: local('Bebas Neue Pro Expanded ExtraBold'), local('BebasNeuePro-ExpandedExtraBold'),
  url('#{$font-directory-bebas}/BebasNeuePro-ExpandedExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


// ProximaNova
@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$font-directory-proxima}/proximanova_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$font-directory-proxima}/proximanova_light.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$font-directory-proxima}/proximanova_bold.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$font-directory-proxima}/proximanova_extrabold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('#{$font-directory-proxima}/proximanova_black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// GothamPro
@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-directory-gotham}/gothampro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-directory-gotham}/gothampro_light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-directory-gotham}/gothampro_medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-directory-gotham}/gothampro_bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-directory-gotham}/gothampro_black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}