$grid-breakpoints: (
        xss: 0,
        xs: 460px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1500px,
);

$color-main: #272727;
$font-gotham: "Gotham Pro", sans-serif;
$font-proxima: "Gotham Pro", sans-serif;
$font-bebas: "Bebas Neue Pro Expanded", sans-serif;