.component-navs {
  width: 100%;

  @include media-down(sm) {
    overflow-y: auto;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 40px;

    @include media-down(lg) {
      justify-content: flex-start;
    }

    @include media-down(sm) {
      flex-wrap: nowrap;
    }
  }

  li {
    min-height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 16px;
    line-height: 140%;
    color: #818181;
    transition: color 300ms;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;

    &.current {
      color: #272727;
    }

    @include media-down(sm) {
      min-height: 50px;
    }

    &:hover {
      color: #272727;

      .icon {
        transform: scaleY(-1);
      }
    }

    @include media-down(sm) {
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
      color: #464646;
      padding: 25px 0;
      width: 100%;
      white-space: initial;

      @include media-down(xss) {
        font-size: 21px;
      }

      @include media-down(xsss) {
        font-size: 18px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #E2E2E2;
      }
    }

    &:last-child {
      padding-right: 30px;
    }

    .icon {
      width: 18px;
      height: 18px;
      margin-left: 4px;
      position: relative;
      top: 1px;
      transition: 300ms;

      @include media-down(sm) {
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      & > ul {
        opacity: 1;
        visibility: visible;
        top: 80%;
      }
    }

    & > ul {
      position: absolute;
      z-index: 10;
      top: 90%;
      left: 0;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      border: 2px solid #EEF1D9;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;

      & > li {
        min-height: 40px;
      }
    }

    a {
      user-select: none;
      font-size: inherit;
      color: inherit;
      font-weight: inherit;
    }
  }


}

.component-navs-dropdown {
  position: relative;
  display: flex;
  align-items: center;

  &__links {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    display: none;
  }
}