.component-navs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
  padding: 30px 0;

  @include media-down(sm) {
    display: none;
  }

  a {
    font-size: 16px;
    line-height: 140%;
    color: #818181;
    transition: color 300ms;
    font-weight: 500;

    &:hover {
      color: #272727;
    }
  }
}