.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 36px;
        height: 102px;
        border-bottom: 1px solid #E2E2E2;
    }

    &__navs {
        .page-home & {
            border-bottom: 1px solid #B2D551;
        }
    }
}