.built-houses {
  &__section {
    margin-bottom: 40px;
    @include media-down(sm) {
      display: none;
    }
  }

  &__map {
    margin-bottom: 60px;

    @include media-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__catalog {
    margin-bottom: 80px;
  }

  &__order-house {
    margin-bottom: 120px;

    @include media-down(sm) {
      margin-bottom: 40px;
    }
  }
}