.page-built-card {
  &__section {
    margin-bottom: 70px;
  }

  &__product-detail {
    margin-bottom: 50px;
  }

  &__tags {
    margin-bottom: 23px;
  }

  &__additional {
    margin-bottom: 80px;
  }

  &__construction {
    margin-bottom: 80px;

    &-row {
      @include media-down(sm) {
        & > div {
          &:first-child {
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  &__single-slider {
    margin-top: 30px;
  }
}