.card-product {
  &__section {
    margin-bottom: 51px;
    @include media-down(sm) {
      display: none;
    }
  }

  &__product-detail {
    margin-bottom: 100px;

    @include media-down(sm) {
      margin-bottom: 50px;
    }
  }

  &__contact-form {
    @include media-down(sm) {
      margin-top: 40px;
    }
  }

  &__button {
    text-align: center;
    margin-bottom: 100px;

    @include media-down(sm) {
      margin-bottom: 50px;
    }

    .btn {
      display: inline-flex;
      margin: 55px auto;
      width: 490px;

      @include media-down(sm) {
        width: 100%;
        margin: 30px auto;
      }
    }
  }

  &__table {
    margin-bottom: 100px;
    @include media-down(sm) {
      display: none;
    }

    &--mobile {
      @include media-down(sm) {
        display: block;
      }
    }
  }
}