.contacts {

  &__info {
    position: relative;
  }

  &__breadcrumbs {
    margin-bottom: 60px;

    @include media-down(sm) {
      display: none;
    }
  }

  &__row {
    @include media-down(sm) {
      gap: 40px 0;
    }
  }

  &__map {
    margin-bottom: 120px;
    margin-top: 38px;

    iframe {
      height: 555px;
    }

    @include media-down(sm) {
      position: absolute;
      left: 0;
      width: 100%;
      top: calc(100% - (290px + 290px) - 40px);
      object-fit: cover;
      z-index: 1;

      iframe {
        height: 290px;
      }
    }

    @include media-down(xs) {
      top: calc(100% - (290px + 290px) - 80px);
    }


    @include media-down(xss) {
      top: calc(100% - (290px + 290px) - 100px);
    }
  }

  &__text-block {
    @include media-down(sm) {
      padding-top: 290px + 80px;
    }
  }

  &__item-group {
    margin: 24px 0;

    @include media-down(sm) {
      margin: 0;
    }
  }

  &__item {
    margin-bottom: 14px;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 10px;

      @include media-down(sm) {
        width: 22px;
        height: 22px;
      }
    }

    a, p {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;

      @include media-down(sm) {
        font-size: 14px;
      }

      span {
        font-size: 14px;
        line-height: 140%;
        color: #ACACAC;
        margin-left: 12px;
      }
    }

    &:last-child {
      margin-bottom: 0;

      @include media-down(sm) {
        margin-bottom: 14px;
      }
    }
  }

  &__caption {
    width: 60px;
    margin-right: 21px;
    color: #B2D551;
  }

  &__items2 {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @include media-down(sm) {
      gap: 10px 20px;
      max-width: 320px;
      padding-bottom: 40px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 140%;
      color: #818181;

      @include media-down(sm) {
        width: calc(50% - 10px);
      }
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #818181;
    margin-top: 42px;

    @include media-down(sm) {
      margin-top: 0;
    }
  }
}

.contacts-sertificate {
  margin-bottom: 120px;

  @include media-down(sm) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 34px;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(#B2D551, 0.2);
    border: 1px solid #B2D551;
    box-sizing: border-box;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    opacity: 0;

    .icon {
      width: 32px;
      height: 32px;
      color: #B2D551;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;

    @include media-down(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }

  &__item {
    border: 1px solid #F1F1F1;
    position: relative;
    background: #F1F1F1;
    border-radius: 18px;
    overflow: hidden;
  }
}