.home {
  &__slider {
    padding-top: 58px;
    padding-bottom: 52px;
  }

  &__questions {
    margin-top: 60px;
    margin-bottom: 83px;
  }

  &__projects {
    padding-bottom: 85px;
  }

  &__suitable {
    margin-bottom: 147px;

    @include media-down(sm) {
      margin-bottom: 40px;
    }
  }

  &__why {
    position: relative;
    z-index: 2;
  }

  &__mortgage {
    margin-top: -48px;
    position: relative;
    z-index: 1;
  }

  &__advantages {
    margin-top: -60px;
    position: relative;
    z-index: 2;
  }
}