.page-houses-built-project {
  &__section {
    margin-bottom: 40px;
    @include media-down(sm) {
      display: none;
    }
  }

  &__block {
    margin-bottom: 120px;
  }
}

.houses-built-project {
  &__title {
    max-width: 390px;
    margin-bottom: 40px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
  }
}