.individual-design {

  &__section {
    background: linear-gradient(99.2deg, #EFEFEF -1.03%, #FBFBFB 51.26%, #EFEFEF 100.2%);
  }

  &__breadcrumbs {
    @include media-down(sm) {
      display: none;
    }
  }

  &__advise {
    margin-bottom: 60px;
  }
}

.individual-design-banner {
  position: relative;
  padding: 106px 0 113px 0;

  @include media-down(sm) {
    margin-bottom: 30px;
    padding: 40px 0 113px 0;
  }

  &__title {
    font-size: 42px;
    line-height: 140%;
    margin-bottom: 22px;

    @include media-down(sm) {
      font-size: 22px;
      margin-bottom: 8px;
    }
  }

  &__text {
    max-width: 471px;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    @include media-down(sm) {
      position: relative;
      max-width: 320px;
      z-index: 1;
    }
  }

  &__image {
    position: absolute;
    bottom: -106px;
    left: 56px;
    pointer-events: none;
    user-select: none;

    @include media-down(sm) {
      top: calc(100% - 40px);
      left: auto;
      right: -60px;
      bottom: auto;
      width: 274px;
      height: 181px;
      z-index: 0;
    }
  }
}

.individual-design-number {
  margin: 10px 0;
  position: relative;

  &:nth-child(2) {
    top: -80px;

    @include media-down(sm) {
      top: 0;
    }
  }

  &:nth-child(3) {
    top: -100px;

    @include media-down(sm) {
      top: 0;
    }
  }

  &__container {
    position: relative;
  }

  &__number {
    position: relative;
    font-family: $font-bebas;
    font-style: normal;
    font-weight: bold;
    font-size: 82px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #B2D551;
    padding-left: 260px;

    @include media-down(sm) {
      padding-left: 62px;
      font-size: 42px;
    }

    &:before {
      content: '';
      width: 250px;
      height: 1px;
      background: linear-gradient(-90deg, #B2D551 0%, rgba(178, 213, 81, 0) 100%);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      @include media-down(sm) {
        width: 52px;
      }
    }

    &:after {
      content: '';
      width: calc(100% - 300px);
      height: 1px;
      background: linear-gradient(90deg, #B2D551 0%, rgba(178, 213, 81, 0) 99.66%);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      @include media-down(sm) {
        width: calc(100% - 90px);
      }
    }
  }

  &__row {
    align-items: center;
  }

  &__title {
    font-weight: 500;
    text-transform: initial;
    font-size: 24px;
    line-height: 140%;
    color: #272727;
    margin-bottom: 10px;
  }

  &__text {
    max-width: 460px;

    &--line {
      max-width: 400px;
      display: flex;

      &:before {
        content: '';
        min-width: 24px;
        height: 4px;
        border-radius: 2px;
        display: table;
        background: #C4EF4C;
        margin-right: 14px;
        position: relative;
        top: 10px;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;
    max-width: 1024px;
    margin-top: 56px;
    margin-bottom: 65px;

    @include media-down(sm) {
      flex-direction: column;
      gap: 24px 0;
    }
  }

  &__icon {
    min-width: 64px;
    min-height: 64px;
    background: #DDF6FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

    @include media-down(sm) {
      min-width: 54px;
      min-height: 54px;
      margin-right: 12px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @include media-down(sm) {
      flex-direction: column;
    }

    &-item {
      @include media-down(sm) {
        display: flex;
        align-items: center;
      }

      .icon {
        color: #22A7D6;
        width: 36px;
        height: 36px;
      }
    }
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.individual-design-number-item {
  position: relative;
  background: #DDF6FF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: calc(50% - 15px);
  height: 92px;

  @include media-down(sm) {
    width: 100%;
  }

  &__image {
    width: 100%;
    max-width: 124px;
    position: relative;
    margin-right: 34px;

    @include media-down(sm) {
      max-width: 80px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: none;

      @include media-down(sm) {
        width: 160%;
      }
    }
  }
}