.page-sample-projects {
  &__blocks {
    margin-top: 51px;
  }

  &__section {
    background: #F8F8F8;
    padding-top: 51px + 184px;

    @include media-down(sm) {
      padding-top: 120px;
    }
  }

  &__stanndart-projects {
    padding-bottom: 52px;

    @include media-down(sm) {
      padding-bottom: 0;
    }
  }

  &__choose-house {
    margin-top: 70px;
    margin-bottom: 60px;

    @include media-down(sm) {
      margin-top: 0;
    }
  }

  &__you-decide {
    margin-bottom: 60px;
  }

  &__several-schemes {
    margin-bottom: 60px;
  }
}