.catalog-aside__item
    p.catalog-aside__title Площадь
    .catalog-aside__checkboxes
        label.checkbox
            input(type="checkbox" name="floor" value="1" checked)
            span.checkbox__box
                +icon('checkmark')
            span.checkbox__value 1 этаж
        label.checkbox
            input(type="checkbox" name="floor" value="2")
            span.checkbox__box
                +icon('checkmark')
            span.checkbox__value 2 этажа