.catalog-aside__item
    p.catalog-aside__title Кол-во комнат
    .catalog-aside__checkboxes
        label.checkbox
            input(type="checkbox" name="room" value="1" checked)
            span.checkbox__box
                +icon('checkmark')
            span.checkbox__value 1 комната
        label.checkbox
            input(type="checkbox" name="room" value="2")
            span.checkbox__box
                +icon('checkmark')
            span.checkbox__value 2 комнаты
        label.checkbox
            input(type="checkbox" name="room" value="3")
            span.checkbox__box
                +icon('checkmark')
            span.checkbox__value 3 комнаты
        label.checkbox
            input(type="checkbox" name="room" value="4")
            span.checkbox__box
                +icon('checkmark')
            span.checkbox__value 4 комнаты