.sorting
    .sorting__title Сортировать по:
    .sorting__items
        a(href="#").sorting__item.sorting__item--current Избранное
        a(href="#").sorting__item Хит
        a(href="#").sorting__item Акция
        a(href="#").sorting__item Новинка