@import "../spec/mixins";

.container {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;

    @include media-up(md) {
        padding: 0 30px;
        max-width: 1530px + 60px;
    }

    &-small {
        @extend .container;
        max-width: 1270px + 60px;
    }
}