.footer {
  margin-top: 38px;

  @include media-down(sm) {
    display: none;
    margin-top: 0;
  }

  &--mobile {
    display: none;

    @include media-down(sm) {
      display: block;
    }
  }

  @include media-down(sm) {
    .component-info__container {
      padding: 0 !important;
      gap: 10px !important;
    }

    .component-info__link, .component-info__order {
      font-size: 10px !important;
    }
  }

  &__navs {
    border-bottom: 1px solid #DBDBDB;

    @include media-down(sm) {
      padding: 0;
      border: none;
      width: 50%;

      .component-navs__container {
        flex-direction: column;

        a {
          font-size: 10px;
          padding: 0;
          border: none;
          margin-bottom: 15px;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    grid-gap: 36px;
    padding: 35px 0;

    @include media-down(sm) {
      gap: 20px 0;
    }

    @include media-down(sm) {
      flex-direction: column;
    }
  }

  &__reference {
    margin-top: 25px;

    @include media-down(sm) {
      margin-top: 0;
    }
  }

  &__ltd {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;

    @include media-down(sm) {
      font-size: 14px;
    }
  }

  &__unification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 25px;

    @include media-down(sm) {
      max-width: 320px;
      gap: 10px;
    }

    p {
      font-weight: normal;
      font-size: 12px;
      line-height: 140%;
      color: #818181;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      @include media-down(sm) {
        font-size: 10px;
      }
    }
  }

  &__policy {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: underline;

    @include media-down(sm) {
      font-size: 12px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-down(sm) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;


      & > div {
        width: 50%;
      }
    }
  }

  &__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #272727;

    @include media-down(sm) {
      margin-top: 20px;
      font-size: 8px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 12px;

  &__item {
    transition: 300ms;

    &:hover {
      opacity: 0.8;
    }

    .icon {
      width: 24px;
      height: 24px;
    }

    &--youtube {
      width: 28px;
      height: 28px;
    }
  }
}