.block-why
    .block-why__container.container-small
        h2.block-why__title.title Почему Эко-сити?
    .block-why__wrapper
        .block-why__background
            img(src=require('../../public/images/block-why__background.jpg'))
        .block-why__container.container-small
            .block-why__content
                .block-why__center
                    span.block-why__circle
                    p.block-why__text
                        | построено
                        span.block-why__number 950
                            span.block-why__plus +
                        | Домов
                    .block-why__items
                        .block-why-item
                            span.block-why-item__icon
                            p.block-why-item__text Строим с 2007 года
                        .block-why-item
                            span.block-why-item__icon
                            p.block-why-item__text Собственное производство
                        .block-why-item
                            span.block-why-item__icon
                            p.block-why-item__text
                                | Аккредитованы
                                br
                                | в банках
                        .block-why-item
                            span.block-why-item__icon
                            p.block-why-item__text Запатентованная технология
                        .block-why-item
                            span.block-why-item__icon
                            p.block-why-item__text Пожизненная гарантия
                        .block-why-item
                            span.block-why-item__icon
                            p.block-why-item__text Работаем с материнским капиталом
            .block-why__home
                img(src=require('../../public/images/block-why__home.png'))
                a(href="#").btn.btn--primary Больше о компании
