.block-stanndart-projects
    .container
        h1.block-stanndart-projects__title.title.title--gradient
            | НАШИ ТИПОВЫЕ ПРОЕКТЫ
            br
            | ОДНОЭТАЖНЫХ И ДВУХЭТАЖНЫХ ДОМОВ
    block content