.block-are-working
    .container
        .block-are-working__wrapper
            .block-are-working__section
                img(src=require('../../public/images/block-are-working.jpg')).block-are-working__image
                h2.block-are-working__title.title.title--gradient Как мы работаем
                    br
                    | с проектами
                    +icon('arrow-long')
            .block-are-working__section
                .block-are-working__content
                    .block-are-working__item
                        p.block-are-working__number 01
                        h3.block-are-working__subtitle
                            | Если Вас полностью
                            span  устраивает наш типовой проект
                        p.block-are-working__text То мы готовы быстро взять его в работу. Плюс любого типового проекта в том, что размеры дома сделаны оптимально с точки зрения бюджета.
                    .block-are-working__item
                        p.block-are-working__number 02
                        h3.block-are-working__subtitle
                            | Мы можем взять
                            span  за основу типовой проект
                        p.block-are-working__text И доработать его под Ваши пожелания: поменять планировку, добавить террасу, балкон и т.д.
                    .block-are-working__item
                        p.block-are-working__number 03
                        h3.block-are-working__subtitle Ничего не понравилось из предложенных проектов?
                        p.block-are-working__text Тогда сделаем для Вас индивидуальное проектирование.
                        a(href="#").block-are-working__link связаться с архитектором
                            +icon('arrow-small_right')