.block-construction
    .container-small
        .block-construction__wrapper
            .block-construction__items
                .block-construction-item
                    .block-construction-item__header
                        p.block-construction-item__title У нас постоянно идут стройки сразу нескольких объектов.
                        p.block-construction-item__text Это 1-этажные и 2-этажные дома. Все дома на разной стадии готовности. Регулярные фотоотчеты со всех строек Вы можете посмотреть тут:
                    .block-construction-item__socials
                        a(href="#")
                            +icon('instagram')
                        a(href="#")
                            +icon('vk')
                .block-construction-item
                    .block-construction-item__header
                        p.block-construction-item__title Хотите увидеть все своими глазами?
                        p.block-construction-item__text У нас нет демо-домов и потемкинских деревень. Мы показываем строительство реальных объектов, как оно есть. Вы увидите стройку, бригаду, материалы и наш подход своими глазами.
                    .block-construction-item__footer
                        a(href="#").btn.btn--blue Хочу на стройку
