.block-several-schemes
    .block-several-schemes__wrapper
        .block-several-schemes__block
            picture
                source(srcset=require('../../public/images/several-schemes--mobile.jpg') media="(max-width: 768px)")
                img(srcset=require('../../public/images/several-schemes.jpg')).block-several-schemes__image
            h2.block-several-schemes__title Поэтому наша компания работает по нескольким схемам:
        .block-several-schemes__block
            article.block-several-schemes-item
                .block-several-schemes-item__wrapper
                    p.block-several-schemes-item__number 01
                    h3.block-several-schemes-item__title Заказ типового проекта, выбранного на сайте.
                    p.block-several-schemes-item__text После того, как вы нашли и утвердили подходящий проект, мы сразу приступаем
                        | к его реализации. Составляем график работ, выезжаем на место строительства для пробного бурения грунта и посадки здания и начинаем строительство.
            article.block-several-schemes-item
                .block-several-schemes-item__wrapper
                    p.block-several-schemes-item__number 02
                    h3.block-several-schemes-item__title Заказ измененного
                        br
                        | типового проекта.
                    p.block-several-schemes-item__text Наиболее распространенный вариант при выборе проекта. Клиенту нравится какой-то из представленных типовых проектов, но он хочет внести туда изменения. В этом случае мы берем
                        | за основу выбранный проект и меняем его согласно пожеланиям заказчика. Это может быть смещение межкомнатных стен, изменение площади некоторых комнат или хозяйственных помещений. После утверждения измененного проекта, мы сразу начнем строить ваш каркасный дом из сип-панелей.
            article.block-several-schemes-item
                .block-several-schemes-item__wrapper
                    p.block-several-schemes-item__number 03
                    h3.block-several-schemes-item__title Заказ индивидуального
                        br
                        | проекта.
                    p.block-several-schemes-item__text Клиенты, которые давно решили построить
                        | или купить дом и готовились к этому важному событию, часто сами знают, как именно должен выглядеть их дом. В этом случае вам нужно подробно описать свои пожелания нашим инженерам, и мы разработаем проект по вашему индивидуальному заказу. После его утверждения, вы можете быть точно уверены, что в ближайшем будущем поселитесь в доме вашей мечты.
            article.block-several-schemes-item
                .block-several-schemes-item__wrapper
                    p.block-several-schemes-item__number 04
                    h3.block-several-schemes-item__title Заказ материала и работ
                        br
                        | под существующий проект.
                    p.block-several-schemes-item__text Возможна ситуация, когда у заказчика уже есть готовый проект каркасного дома, и он ищет подрядчика, готового реализовать этот проект на выгодных для него условиях.
                        | В этом случае наши инженеры проверят проект, просчитают стоимость необходимых материалов, и после утверждения цены мы будем готовы приступить к выполнению строительных работ.