.block-built
    .container-small
        h2.block-built__title.title Построенные дома
        .slider-default.swiper
            .slider-default__wrapper.swiper-wrapper
                +loop(8)
                    .component-slide.swiper-slide
                        a(href="#").component-slide__link
                        .component-slide__image
                            img(src=require('../../public/images/block-built__slide.jpg'))
                        p.component-slide__title Осиновая роща
            .block-built__buttons
                .block-built__pagination.slider-default__pagination.swiper-pagination
                a(href="#").btn.btn--primary смотреть все проекты