.pagination
    a(href="#").pagination__item.pagination__item--btn
        +icon('arrow-small_left')
    a(href="#").pagination__item 1
    a(href="#").pagination__item 2
    a(href="#").pagination__item.pagination__item--current 3
    a(href="#").pagination__item 4
    a(href="#").pagination__item 5
    a(href="#").pagination__item 6
    a(href="#").pagination__item 7
    .pagination__item.pagination__item--dots ...
    a(href="#").pagination__item 24
    a(href="#").pagination__item.pagination__item--btn
        +icon('arrow-small_right')